*{
    margin: 0px;
    padding: 0px;
}
body{
     border: solid 1px;
    height: 750px;
    background-image: url(bg4.jpeg);
    background-repeat: no-repeat;
    background-size: 1380px 700px;
    
}
h1 {
    text-align: center;
    color: rgb(3, 250, 57);
    margin-top: 250px;
    font-weight: bold;
    font-size: 50px;

}
button {
    background-color: rgb(246, 8, 32);
    
    height: 50px;
    width: 150px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: bold;


    
}
#bt1{
    margin-left: 600px;
    
    margin-right: 30px; 
}